/*-------------------١--------------------------*/
/*                  ملحوظات                     */
/*
ملحوظة عامة:لقد  تركت لكم تعليقات لتساعدك علي تنظيم الملف بالشكل المثالي
تأكد من أن آخر جزء هو الجزء الحاوي لكل ما هو متعلق بشكل الصفحة على الهواتف والتابلت
إذا كان لديك أي سؤال من فضلك إرسل لي الكود وشرح المشكلة علي البريد الالكتروني
tony@barmej.com
*/
/*----------------------------------------------*/



/*----------------------١-----------------------*/
/*
Fonts & Font-faces سنقوم بوضع جميع الخطوط التي سنحتاجها هنا
ملحوظة: إسم الخط هو إما
Avenir Next 
أو إن لم تجده فيمكنك استعمال خط 
Lato
*/
/*---------------------------------------------*/
@font-face{
    font-family: 'avenirnext';
    src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('../fonts/AvenirNext-Regular.woff') format('woff');
         font-weight: normal;
         font-style: normal;
}
@font-face{
    font-family: 'avenirnext';
    src: url('../fonts/AvenirNext-Boldr.woff2') format('woff2'),
         url('../fonts/AvenirNext-Bold.woff') format('woff');
         font-weight: bold;
         font-style: normal;
}

/*----------------------٢-----------------------*/
/*                  DEFAULTS                    */
/*
يجب عليك هنا وضع أي من الأنماط العامة الخاصة بوسوم مثل
html, body, h1, h2, p 
وهي الأنماط التي تنطبق على الموقع بشكل عام وكل صفحاته وليس على عنصر معين في صفحة معينة
*/
/*----------------------------------------------*/
body{
    background-color: white;
    color: black;  
    font-family: 'avenirnext', sans-serif; 
}


/*----------------------٣-----------------------*/
/*               HELPER CLASSES                 */
/*
يجب عليك هنا وضع أي من الأنماط الخاصة بال
classes
التي ستقوم بإعادة إستخدامها في أكثر من مكان خلال عملك على الموقع 
على سبيل المثال: النمط الخاص بالزر الأزرق الذي يستعمله المصمم في كل الصفحات تقريباً
*/
/*----------------------------------------------*/


/*----------------------٤-----------------------*/
/*                    LAYOUT                    */
/*                البناء العام للصفحة           */
/*----------------------------------------------*/



/*----------------------٥-----------------------*/
/*                    HEADER                    */
/*----------------------------------------------*/
header .container{
    display: flex;
    margin: 0px 15px;
    padding: 23px 0 7px;
    border-bottom: solid 2px #f8f9fa;

}

.main-nav{
    display: none;
}

.burger{
    border:none;
    background: none;
    margin-left: auto;
}
h1{
    font-size: 36px;
}
/*----------------------٦-----------------------*/
/*                     HERO                     */
/*----------------------------------------------*/
.hero__desc{
    padding: 0px 15px;
}
.button{
    border: 0;
    background: #3144d1;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 15px 40px;
    border-radius: 50px;
}
img{
    max-width: 100%;
 
}
.meetYourMatch{
    text-align: center;

}
.meetYourMatch__background{
    background-color: #eef0fc; 
}

/*----------------------٧-----------------------*/
/*              MEET YOUR MATCH                 */
/*----------------------------------------------*/
.form-group{

}
.form-group .button{

    padding: 16px 25px;
    position: absolute;
    top: 81%;
    left: 64%;

}

 input{
    border: 1px solid  #3144d1;
    border-radius: 50px;
    padding: 10px ;
    font-size: 15px;
    background-image: url(../images/map-pin.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    color: #3144d1;

}

}
/*----------------------٨-----------------------*/
/*               HOW IT WORKS                   */
/*----------------------------------------------*/



/*----------------------٩-----------------------*/
/*                 STORIES                      */
/*----------------------------------------------*/



/*----------------------١٠----------------------*/
/*       Actions: Change A Life, Adopt A Pet    */
/*----------------------------------------------*/



/*---------------------١١-----------------------*/
/*                    FOOTER                    */
/*----------------------------------------------*/



/*----------------------١٢----------------------*/
/*                    Responsive                */
/*       كل ما هو متعلق بالهواتف والتابلت       */
/*----------------------------------------------*/
