/*-------------------١--------------------------*/
/*                  ملحوظات                     */
/*
ملحوظة عامة:لقد  تركت لكم تعليقات لتساعدك علي تنظيم الملف بالشكل المثالي
تأكد من أن آخر جزء هو الجزء الحاوي لكل ما هو متعلق بشكل الصفحة على الهواتف والتابلت
إذا كان لديك أي سؤال من فضلك إرسل لي الكود وشرح المشكلة علي البريد الالكتروني
tony@barmej.com
*/
/*----------------------------------------------*/



/*----------------------١-----------------------*/
/*
Fonts & Font-faces سنقوم بوضع جميع الخطوط التي سنحتاجها هنا
ملحوظة: إسم الخط هو إما
Avenir Next 
أو إن لم تجده فيمكنك استعمال خط 
Lato
*/
/*---------------------------------------------*/
@font-face{
    font-family: 'avenirnext';
    src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('../fonts/AvenirNext-Regular.woff') format('woff');
         font-weight: normal;
         font-style: normal;
}
@font-face{
    font-family: 'avenirnext';
    src: url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
         url('../fonts/AvenirNext-Bold.woff') format('woff');
         font-weight:bold;
         font-style: normal;
}
@font-face{
    font-family: 'avenirnext';
    src: url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
         url('../fonts/AvenirNext-Medium.woff') format('woff');
         font-weight: medium;
         font-style: normal;
}
@font-face{
    font-family: 'avenirnext';
    src: url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
         url('../fonts/AvenirNext-DemiBold.woff') format('woff');
         font-weight: 500;
         font-style: normal;
}

/*----------------------٢-----------------------*/
/*                  DEFAULTS                    */
/*
يجب عليك هنا وضع أي من الأنماط العامة الخاصة بوسوم مثل
html, body, h1, h2, p 
وهي الأنماط التي تنطبق على الموقع بشكل عام وكل صفحاته وليس على عنصر معين في صفحة معينة
*/
/*----------------------------------------------*/
body{
    background-color: white;
    color: black;  
    font-family: 'avenirnext', sans-serif; 
}


/*----------------------٣-----------------------*/
/*               HELPER CLASSES                 */
/*
يجب عليك هنا وضع أي من الأنماط الخاصة بال
classes
التي ستقوم بإعادة إستخدامها في أكثر من مكان خلال عملك على الموقع 
على سبيل المثال: النمط الخاص بالزر الأزرق الذي يستعمله المصمم في كل الصفحات تقريباً
*/
/*----------------------------------------------*/


/*----------------------٤-----------------------*/
/*                    LAYOUT                    */
/*                البناء العام للصفحة           */
/*----------------------------------------------*/



/*----------------------٥-----------------------*/
/*                    HEADER                    */
/*----------------------------------------------*/
header .container{
    display: flex;
    margin: 0px 15px;
    padding: 23px 0 7px;
    border-bottom: solid 2px #f8f9fa;

}

.main-nav{
    display: none;
}

.burger{
    border:none;
    background: none;
    margin-left: auto;
}
h1{
    font-size: 36px;
}
h2{
    margin: 0;
    padding: 0;
}
/*----------------------٦-----------------------*/
/*                     HERO                     */
/*----------------------------------------------*/

.hero__desc p{
margin-bottom: 35px;
}
.button{
    border: 0;
    background: #3144d1;
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 15px 60px;
    border-radius: 50px;
}
.hero__image{
    text-align: center;
}

img{
    max-width: 100%;
 
}

/*----------------------٧-----------------------*/
/*              MEET YOUR MATCH                 */
/*----------------------------------------------*/
.meetYourMatch{
    text-align: center;


}

}

.switcher{
    display: flex;
    justify-content: center;
    align-items: center;

}
.switcher input{
    display: none;
}
.switcher span{
    font-weight: bold;
    color: #9fa2b8;
    padding: 0 10px;
}

.form-group{

    width:350px ;
    position: relative;
    margin: 0 auto 15px;

    display: inline-block;

}
.form-group .button{
    height: 54px;
    position: absolute;
    right: 6px;
    padding: 15px 40px;


}

  input{
    height: 50px;
    border: 1px solid #3144d1;
    border-radius: 50px 0  0 50px;
    padding-right: 68px;
    font-size: 16px;
    background-image: url(../images/map-pin.png);
    background-repeat: no-repeat;
    background-position: 17px 13px;
    color: #3144d1;
    text-align: center;

}
.meetYourMatch__background{
    background-color: #eef0fc;
    height: 300px;
    border-radius: 0 0 5% 5%;
    position: relative;
}
 .is-searchResults{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;

}

.widget__desc h4{
    margin-top: -6px;
    margin-bottom: 5px;
    padding-top: 10px;

}
.widget{
    margin: 10px;
}
.widget__desc{
    margin-top: -2px;
    background-color: white;
    width: 230px;
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 30px #eef0fc;
}
.widget__desc p{
    margin: 0;
    padding-bottom: 10px;
}
.widget__image{
    box-shadow: 5px 5px 30px #eef0fc; 
}
.howItWorks{
    justify-content: center;
}
/*----------------------٨-----------------------*/
/*               HOW IT WORKS                   */
/*----------------------------------------------*/



/*----------------------٩-----------------------*/
/*                 STORIES                      */
/*----------------------------------------------*/



/*----------------------١٠----------------------*/
/*       Actions: Change A Life, Adopt A Pet    */
/*----------------------------------------------*/



/*---------------------١١-----------------------*/
/*                    FOOTER                    */
/*----------------------------------------------*/



/*----------------------١٢----------------------*/
/*                    Responsive                */
/*       كل ما هو متعلق بالهواتف والتابلت       */
/*----------------------------------------------*/
